
<div>
	<p>Titulo: <b>@Pelicula.Titulo</b></p>
	@if (DateTime.Today.Subtract(Pelicula.FechaLanzamiento).Days <= 30)
	{
		<span style="color:red">(!NUEVO)</span>
	}
	<p>Fecha de lanzamiento: <b>@Pelicula.FechaLanzamiento.ToString("dd MMM yyyy")</b></p>
</div>
@code {
	[Parameter]
	[EditorRequired]
	public Pelicula Pelicula { get; set; } = null!;	
}
