@page "/"

<div>
	<h3>Películas</h3>
	<ListadoPeliculas Peliculas="ObtenerPeliculas()"/>
</div>

@code{
	List<Pelicula> ObtenerPeliculas()
	{
		return new List<Pelicula>()
		{
			new Pelicula{Titulo = "Mi Villano FAvorito 4", FechaLanzamiento = new DateTime(2024,7,16)},
			new Pelicula{Titulo = "Wakanda Forever", FechaLanzamiento = new DateTime(2022,11,11)},
			new Pelicula{Titulo = "Moana", FechaLanzamiento = new DateTime(2016,11,23)},
			new Pelicula{Titulo = "Inception", FechaLanzamiento = new DateTime(2010,7,16)}
		};
	}
}

